# Folders
Preprocess/
data/
Data/
DATA/
Docs/
docs/
Doc/
doc/
.env/
env/
ENV/
__pycache__/


# Files
data
doc
.remote-sync.json

# Files of certain surfix
*.h5
*.pkl
*.py[cod]
*.so
*.log
*~
.python-version
